/*
 * CSS for Event registration form
 */

/* Disable default styles */
#crm-container.crm-public .memberreg-container .content {
    padding: 0;
    margin-left: 12%;
}

#crm-container.crm-public .memberreg-container fieldset {
    border: none;
}

#crm-container.crm-public .memberreg-container input[type="text"] {
    font-size: 12px;
    padding: 0 0 0 6px;
}

#crm-container.crm-public .memberreg-container fieldset legend {
    float: none;
    font-family: "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif;
    font-weight: unset;
    padding: 0;
    font-size: 14px;
}

#crm-container.crm-public .memberreg-container .label {
    width: auto;
    text-align: left;
    font-size: 14px;
}

#crm-container.crm-public .memberreg-container #crm-submit-buttons {
    margin: 0;
}

/* Container */
#crm-container.crm-public .memberreg-container {
    font-size: 12px;
    font-family: "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif;
}

#crm-container.crm-public .memberreg-container .messages {
    margin: 0 0 10px 0;
}

/* Preview & Intro */
#crm-container.crm-public .memberreg-container .memberreg-preview,
#crm-container.crm-public .memberreg-container .memberreg-intro {
    border: solid 1px #eeeeee;
    margin: 0 0 10px 0;
    padding: 10px;
}

#crm-container.crm-public .memberreg-container .memberreg-intro legend {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 6px 0;
}

/* Blocks */
#crm-container.crm-public .memberreg-container .memberreg-block {
    border: solid 1px #eeeeee;
    border-left: 3px solid #7fc858;
    margin: 0 0 10px 0;
    padding: 5px 10px 5px 10px;
}

#crm-container.crm-public .memberreg-container .memberreg-block .memberreg-title {
    font-size: 18px;
}

#crm-container.crm-public .memberreg-container .memberreg-block .memberreg-content .form-item {
    background-color: transparent;
    border: none;
}

#crm-container.crm-public .memberreg-container .memberreg-block .memberreg-content .form-item label {
    font-size: 12px;
    color: black;
    float: none;
}

#crm-container.crm-public .memberreg-container .memberreg-block .memberreg-content .content label {
    font-size: 12px;
    padding: 0 0 0 6px;
}

#crm-container.crm-public .memberreg-container #memberreg-member .label,
#crm-container.crm-public .memberreg-container #memberreg-payment .label {
    float: none;
}

/* Footer */
#crm-container.crm-public .memberreg-container .memberreg-footer {
    border: solid 1px #eeeeee;
    margin: 0 0 10px 0;
    padding: 10px;
}
