/*
 * CSS for Event registration form
 */

/* REGISTRATION FORM */
#formRegister {
    position: relative;
}

#formRegister .extra_informatie {
    margin-bottom: 20px;
}

#formRegister fieldset.reg {
    width: 100%;
    border: none;
}

#formRegister fieldset.reg:not(:first-of-type) {
    display: none;
}

#formRegister input,
#formRegister textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #2C3E50;
    font-size: 13px;
}

#formRegister .crm-submit-buttons {
    margin-top: 0;
    width: auto;
    float: right;
}

#formRegister .form-item {
    padding: 10px 0px !important;
}

#formRegister.confirmation .form-item {
    padding: 5px 0px !important;
}

#formRegister .label {
    padding: 0 !important;
    display: inline-block;
    text-align: left;
    min-width: 150px;
    width: 15%;
}

#formRegister .content {
    margin: 0;
    display: inline-block;
}

#formRegister .content input {
    padding: 0;
    margin: 0;
    height: 36px;
    border-radius: 0 !important;
}

/* CONFIRMATION */
#formRegister.confirmation #crm-submit-buttons {
    margin: 0;
}

#formRegister.confirmation .content {
    text-align: left;
    float: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #005B9C;
    width: auto;
}

#formRegister.confirmation fieldset {
    padding: 0;
}

#formRegister.confirmation .contributor_email-section .label {
    margin-right: -5px;
}

#formRegister.confirmation .crm-profile-view .header-dark,
#formRegister.confirmation .crm-profile-view .form-item,
#formRegister.confirmation .contributor_email-section {
    background: #efefef;
    padding: 5px 15px !important;
    border-radius: 0 !important;
}

#formRegister.confirmation .contributor_email-section,
#formRegister.confirmation .editrow_birth_date-section,
#formRegister.confirmation .editrow_phone-2-1-section,
#formRegister.confirmation .editrow_custom_31-section,
#formRegister.confirmation .editrow_custom_37-section,
#formRegister.confirmation .editrow_custom_27-section {
    margin-bottom: 10px !important;
}

#formRegister.confirmation .crm-profile-view .header-dark {
    display: block;
    border-bottom: 1px solid #dedede;
    color: #333;
}

/* TITLE */
h2.intro-title {
    font-size: 36px;
    font-weight: normal;
    border-bottom: none;
    margin-bottom: 0;
}

h2.intro-title:before {
    background: none;
}

/* TABS */
ul#progressbar {
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    border-bottom: none;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

ul#progressbar li {
    border-left: 1px solid #e0e0e0;
    list-style-type: none;
    text-transform: uppercase;
    margin-bottom: 0;
}

ul#progressbar li:before {
    width: 20px;
    line-height: 20px;
    display: inline-block;
    font-size: 14px;
    color: #888;
    background: white;
    border-radius: 0;
    margin: 0 auto 5px auto;
    padding: 11px 5px 11px 10px;
    text-align: center;
}

ul#progressbar li.step-1 {
    border-left: none;
}

ul#progressbar li:first-child:after {
    content: none;
}

ul#progressbar li a {
    display: inline-block;
    border: none;
    padding-right: 10px;
    border-radius: 0;
    margin-right: 0;
    text-decoration: none;
}

ul#progressbar li.completed a {
    background: #005B9C;
    color: #fff;
}

ul#progressbar li.completed:before,
ul#progressbar li.completed:after {
    background: #005B9C;
    color: #fff;
    display: inline-block;
}

ul#progressbar li:after {
    font-size: 15px;
    display: inline-block;
    font: normal normal normal 15px/1 FontAwesome;
    font-size: inherit;
    content: "\f05e";
    color: #aaa;
    padding: 13px 10px;
}

ul#progressbar li.completed:after {
    content: "\f00c";
    color: #fff;
    border-right: 1px solid #005B9C;
}

ul#progressbar li.inprogress a {
    background: #2799D6;
    color: #fff;
}

ul#progressbar li.inprogress:before,
ul#progressbar li.inprogress:after {
    background: #2799D6;
    color: #fff;
    display: inline-block;
}

ul#progressbar li.inprogress:after {
    content: "\f044";
    color: #fff;
    border-right: 1px solid #2799D6;
}

ul#progressbar li.active:before,
ul#progressbar li.active:after {
    background: #27AE60;
    color: white;
}

/* CIVICRM FOOTER */
.crm-public-footer {
    display: none;
}

/* BUTTONS */
.crm-container .crm-button,
#crm-container .crm-button {
    float:none !important;
    display: inline;
}

#crm-container span.crm-button_qf_Main_upload input,
#crm-container span.crm-button_qf_Confirm_next input,
#crm-container span.crm-button_qf_Register_upload input{
    font-size: 1em;
}

.crm-container .crm-button,
#crm-container .crm-button {
    display:inline-block;
    margin-bottom: 5px;
}

.crm-container a.button,
.crm-container a.button:link,
.crm-container a.button:visited,
.crm-container input.crm-form-submit,
.crm-container .crm-button,
.crm-container .ui-dialog-buttonset .ui-button,
#crm-container input[type=button],
#crm-container input.crm-form-submit-inline,
#crm-container .crm-button {
    text-shadow: 0;
    color: #FFF;
    font-size: 15px;
    margin: 0 15px 0 0;
    padding: 2px 6px;
    text-decoration: none;
    border: 0;
    background: #005B9C;
    border: 1px solid #005B9C;
}

.crm-contribution-confirm-form-block .crm-button_qf_Confirm_back{
    text-shadow: 0;
    background: none;
    color: #888;
    font-size: 15px;
    margin: 0 6px 0 0;
    padding: 2px 6px;
    text-decoration: none;
    border: 0;
}

.crm-contribution-confirm-form-block #crm-submit-buttons .crm-button input {
    color: #fff;
    text-shadow:none;
}

